.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* parameters for the header section */
    position: relative;
    display: flex;
    background-color: #f2f2f2;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_place_header {
    background-image: url(../images/logo.png);
    position: absolute;
    left: 64px;
    top: 30px;
    height: 31px;
    width: 154px;
}

.header__title {
    align-self: center;
    line-height: 96px;
    
    width: 730px;
    margin-left: 64px;
    font-weight: bold;
    font-size: 102px;
    z-index: 2;
}

.header__subtitle {
    position: absolute;
    align-self: flex-end;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    width: 388px;
    bottom: 30px;
    left: 64px;
    height: 64px;
    z-index: 3;
}

.header__link {
    color: blue;
    text-decoration: none;
}

.header__link:visited {
    color: pink;
}

.header__main-illustration {
    position: absolute;
    width: 764px;
    height: 608px;
    right: 64px;
    bottom: 0;
    z-index: 1;
}

.header__square-pic {
    position: absolute;
    width: 568px;
    height: 568px;
    background-color: blue;
    top: 64px;
    right: 0px;
}

.description {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    justify-self: center;
}
  
.two-columns {
    display: flex;
    margin-bottom: 100px;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
  }
  
.two-columns__brief {
    color: #2f80ed;
    top: 0;
    left: 0;
    font-weight: normal;
    margin-block-start: 0;   
    line-height: 1.2;
    font-size: 18px;
    width: 175px;
    margin-block-end: 0;
    justify-content: space-between;
    height: 100px;
  }
  
.two-columns__paragraph {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 34px;
    font-size: 24px;
}

  .two-columns__main-text {
    flex-direction: column;
    display: flex;
    width: 80%;
    min-width: 784px;
    justify-content: space-between;
  }

.two-columns__paragraph--set-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}
  
.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

.section-title {
    width: 80%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.section-subtitle {
    margin: 20px auto;
    width: 80%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    align-self: center;
    margin-block-end: 0;
}

.table {
    margin: 0 auto 100px;
    width: 1250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table__cell {
    margin-top: 60px;
    width: 250px;
    text-align: left;
}

.table__heading {
    line-height: 1.15px;
    font-size: 24px;
    font-weight: bold;
}

.table__text {
    margin: 20px 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.feynman {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 930px;
    background-color: #f2f2f2;
}

.feynman__title {
    padding-top: 100px;
    margin: auto;
    text-align: center;
    width: 770px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 3;
    margin-block-start: 0;
    margin-block-end: 0;
}

.feynman__subtitle {
    margin: 70px auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 2;
}

.feynman__main-illustration {
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
    z-index: 1;
}

.feynman__link {
    position: absolute;
    top: 50%;
    margin-right: 48px;
    line-height: 51px;
    color: #2f80ed;
    font-size: 36px;
    font-weight: normal;
    align-self: flex-end;
    width: 180px;
    text-decoration: none;
}

.kaufman {
    padding-bottom: 90px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color:#000000;
}

.section-title_theme_dark {
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: 90px auto 0;
    color: white;
    background-color: rgba(0,0,0,0.0);
}

.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 20px auto 0;
    width: 60%;
    z-index: 2;
    color: white;
    background-color: rgba(0,0,0,0.0);
}

.table_theme_dark_kaufman {
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: rgba(0,0,0,0.0);
    z-index: 1;
}

.table__cell_theme_dark {
    background-color: rgba(0,0,0,0.0);
}

.table__text_theme_dark {
    margin: 20px 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(0,0,0,0.0);
}

.table__heading_theme_dark {
    line-height: 1.15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.0);
}

 .kaufman__triangle {
    position: absolute;
    background-image: url(.../images/triangle.svg);
    width: 877;
    height: 877px;
    right: -210px;
    background-size: contain;
    background-repeat: no-repeat;
} 

.footer {
    flex-direction: row;
    height: 300px;
    overflow: hidden;
    flex-basis: 711px;
    background-color: #1f1f1f;
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__columns {
    margin: auto;
    justify-content: space-between; 
    width: 90%;
    display: flex;
    padding-top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
}

.footer__column_content_copyright {
    flex-basis: 711px;
    left: 0;
    background-color: rgba(0,0,0,0.0);
    position: relative;
}

.logo_place_footer {
    position: absolute;
    background-image: url(../images/logo_white.png);
    width: 183px;
    height: 35px;   
    margin-top: 0;
    z-index: 2;
}

.footer__author {
    position: absolute;
    bottom: 0;   
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color:  #4f4f4f;
}

.footer__column_content_info {
    display: flex;
    flex-direction: column;   
    float: left;
    max-width: 240px;
    flex-wrap: nowrap;
    margin-right: 200px;
    position: relative;
    padding: 0; 
    margin-top: 0;
}

.footer__column-heading {
    display: absolute;
    font-size: 18px;
    padding-top: 0;
    top: 0;
    font-weight: bold;   
    color: white;
    /* user agent stylesheet reset */
    margin-block-start: 0;
    margin-block-end: 0;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color:  #4f4f4f;
    text-decoration: none;
    /* user-agent stylesheet reset */
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.footer__column-links--set-margin {
    margin: -20px 0;
}

.footer__column_content_social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    align-content: center;
    width: 117px;
    margin-top: 0px;
    margin-bottom: 16px;
    padding-top: 0;
}

.footer__column-links--positioning {
    margin-top: 0;
}

.footer__social-icon {
    margin-right: 10px;
    padding-top: 0;
    color: grey;
    text-decoration: none;
}

.footer__social-icon--positioning {
    display: flex;
    text-align: left;
    /* flex-direction: row;
    text-decoration: none; */
}

